@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #121C33;
    line-height: 24px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.bg-color{
    background-color: #F2F2F2;
}

#text-black{
    color: #121C33;
}
#bg-black{
    background-color: #121C33;
}

#text-gray{
    color: #121C33;
    opacity: 0.6;
}
.text-red{
    color: #AB192F;
}

.planet-bg{
    background-color: rgba(18, 28, 51, 0.05);
}

#planet-bg{
    background-color: rgba(18, 28, 51, 0.05);
}

.border-radius{
    border-radius: 1.2rem;
}

#border-radius{
    border-radius: 1.2rem;
}
#border-radius-top{
    border-radius: 1.2rem 1.2rem 0 0 ;
}

#input-bg{
    background-color: #F5F5F5;
}

